header{
    display: flex;
    border-bottom: 1px solid black;
    margin:0px 0;
    align-items: center;
    padding:30px 0;
}
header svg{
    margin-right:50px;
}
.nav-menu {
    list-style: none;
    display: flex;
    /* padding-left:40px; */
    
    
}
.nav-menu li{
    margin:0 10px;
    padding:0 5px;
}
nav-menu li:hover{
    cursor: pointer
}
.avatar{
    width:3.5%;
    margin-left:auto;
}
.header-cart{
    margin-left:370px;
}
.main-product{
    width: 100%;
}
.container{
    display: flex;
}
.show-cart-quantity{
    background:orange;
    position:absolute;
    right:255px;
    top:30px;
    padding:0 5px;
    border-radius: 10px;
    font-size:0.8rem;
    
}
.show-empty-cart{
    position: absolute;
top:80px;
right:100px;
background-color: hsl(0,0%,95%);
border-radius:10px;
}
.empty-cart-cart{
    /* border-bottom:1px solid black; */
    padding:15px 10px 15px 20px;
}
.empty-cart-message{
    border-top:1px solid black;
    padding:60px 130px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.show-filled-cart{
    position: absolute;
    top:80px;
    right:100px;
    background-color: hsl(0,0%,95%);
    border-radius:10px;
}
.filled-cart-cart{
   
        /* border-bottom:1px solid black; */
        padding:15px 10px 15px 20px;
    
}
.filled-cart-message{
    display: flex;
    /* margin:0 auto; */
    border-top:1px solid black;
    padding:20px 0 20px 20px;
}
.cart-thumbnail{
    width:25%;
    border-radius: 10px;
}
.checkout-button{
    background: orange;
    height:40px;
    width:96%;
    border:none;
    margin-left:10px;
    border-radius: 10px;
    color:white;
}
